<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScoreboardApp_3.Properties.Settings.dbi466388ConnectionString"
            connectionString="Data Source=mssql.fhict.local;Initial Catalog=dbi466388;Persist Security Info=True;User ID=dbi466388;Password=tuintafel12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>